{% extends 'layout.html' %}

{% block content %}
<div class="timeline">
    <div class="followings half">
        <h2>팔로잉 목록</h2>
        {% if user.Followings %}
        {% for following in user.Followings %}
        <div>{{following.nick}}</div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="followers half">
        <h2>팔로워 목록</h2>
        {% if user.Followers %}
        {% for follower in user.Followers %}
        <div>{{follower.nick}}
            <button onclick="unfollow({{follower.id}})"> 팔로우 해제</button>
        </div>

        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    const unfollow = (id) => {
        if (!confirm('언팔로우?')){ return}
        axios.post(`/user/${id}/unfollow`)
            .then(()=>{alert('언팔로우되었습니다')})
            .catch(console.error)
    }
</script>
{% endblock %}
