<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div></div>

<script>
    const websocket = new WebSocket("ws://localhost:8005")
    websocket.onopen = function (){
        console.log('서버와 ws 연결 성공')
    }
    websocket.onmessage = function(event){
        console.log(event.data);
        websocket.send('클라이언트에서 서버로 답장을 보냄');
    }


</script>
</body>
</html>